// Solarized dark syntax highlight
// --------------------------------------------------

$gist-base03          : #fdf6e3;
$gist-base02          : #eee8d5;
$gist-base01          : #93a1a1;
$gist-base00          : #839496;
$gist-base0           : #657b83;
$gist-base1           : #586e75;
$gist-base2           : #073642;
$gist-base3           : #002b36;

$gist-yellow          : #4a76ff;
$gist-orange          : #34b4e9;
$gist-red             : #23cdd0;
$gist-magenta         : #2cc97d;
$gist-violet          : #938e3b;
$gist-blue            : #d9742d;
$gist-cyan            : #d55e67;
$gist-green           : #7a66ff;
    
$gist-border-color    : #base1;
$gist-selection-bg    : $gist-red;
$gist-selection-color : $gist-base2;
$gist-meta-color      : rgba(116, 112, 112, 0.8);
